<div class="jumbotron bgbranding">
    <div class="container corner50" style="background: rgba(255, 255, 255, .8);">

        <h2><i class="fa fa-check-circle"></i> Thank you. All ballots have been marked.</h2>

        <div class="container" style="font-size:x-large">
            <div class="row">
                <div class="col-xs-12">
                    Administrators, please visit <a href="/export-contest"><i class="fa fa-download"></i> Export Contest</a> to download the manual ballot entries.
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    Testers, please visit <a href="/settings"><i class="fa fa-cogs"></i> Settings</a> to discard ballots and start over.
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /container -->
</div> <!-- /jumbotron -->

