<div class="jumbotron bgbranding">
    <div class="container corner50" style="background: rgba(255, 255, 255, .8);">
        <h3>Welcome to the Risk-Limiting Audit Manual Cast Vote Record Ballot Entry Tool</h3>
        <div class="container" style="font-size:xx-large">
            <div class="row">
                <div class="col-md-3 text-right">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <a href="/mark-ballot"><i class="fa fa-check-circle"></i> Mark Ballot</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <a href="/export-contest"><i class="fa fa-download"></i> Export Contest</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-right">
                    &nbsp;
                </div>
                <div class="col-md-9">
                    <a href="/settings"><i class="fa fa-cogs"></i> Settings</a>
                </div>
            </div>
        </div><!-- /container -->
    </div><!-- /container -->
</div> <!-- /jumbotron -->
