<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="External Application Gateway">

	<title>External Application Gateway</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/application.css"/>

	<link rel="stylesheet" type="text/css" href="/cdn/Bootstrap-3.3.7/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/cdn/font-awesome-4.7.0/css/font-awesome.css"/>
	<script type="text/javascript" src="/cdn/jQuery-2.2.4/jquery-2.2.4.js"></script>
	<script type="text/javascript" src="/cdn/Bootstrap-3.3.7/js/bootstrap.js"></script>

<style>

.bgbranding { 
	background: url("/img/Pierce-County.png") no-repeat center center; 
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	min-height: 700px;
}
</style>

</head>
<body>

	<div class="container">
		{{{body}}}
	</div>

	<footer class="page-footer">
		&copy; Copyright {{ copyrightYear }} Pierce County, Washington
		<br/>
		<a href="http://www.co.pierce.wa.us/" target="_blank"><img src="/img/Pierce-footer.png" border="0"></a>
	</footer>

</body>
</html>
